<div class="main-box">
  <div class="container">

    <button type="button" class="btn btn-dark mb-2" [routerLink]="['/events']">
      <ion-icon name="arrow-back-circle"></ion-icon>
      Back to Event Search
    </button>

    <div class="error-box alert alert-dark rounded">
      <div class="row row-cols-2">

        <div class="col">
          <div class="card text-bg-dark">
            <img [src]="eventDetails.logo" height="256px" width="250px" class="card-img-top"/>

            <div class="card-body">
              <h4 class="card-title lh-sm justify-content-center">
                {{ eventDetails.name }}
              </h4>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="document-text"></ion-icon>
                Description
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.description }}
              </p>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">
              <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="scan-circle"></ion-icon>  
                Event ID
              </p>
              <p class="card-text fs-6">
                <span title="Created on {{ eventDetails.created| date:'EEEE, dd MMMM yyyy \'at\' hh:mm a' }} SGT">
                  {{ eventID }} by
                </span>
                <span>
                  <a [href]="eventDetails.link" target="_blank" rel="noopener noreferrer" class="text-success-emphasis">
                    Eventbrite
                  </a>
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="calendar"></ion-icon>
                Date and Time
              </p>
              <p class="card-text fs-6">
                <span class="fw-bold">
                  Start
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.start | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }}
                  {{ timezoneMap[eventDetails.country] }}
                </span>
                <span><br /></span>
                <span><br /></span>
                <span class="fw-bold">
                  End
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.end | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }}
                  {{ timezoneMap[eventDetails.country] }}
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="locate"></ion-icon>
                Location
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueName }}
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueAddress }}
              </p>

            </div>

          </div>
        </div>
  
      </div>
      <div class="row row-cols-2 mt-2">

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">

              <div class="card-header row">
                <div class="col text-center border-end">
                  <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis me-2">
                    <ion-icon name="bookmarks"></ion-icon>
                    Bookmark Count:
                  </p>
                  <p class="fs-4">
                    {{ bookmarkCount }}
                  </p>
                </div>

                <div class="col ms-3 text-center">
                  <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                    <ion-icon name="person-add"></ion-icon>
                    Registration Count:
                  </p>
                  <p class="fs-4">
                    {{ bookmarkCount }}
                  </p>
                </div>
              </div>
              <br />

              <p class="fs-5 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="people"></ion-icon>
                Attendees:
              </p>

            </div>
            
          </div>
        </div>

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">
              <p class="fs-6 fw-bold text-decoration-underline text-primary-emphasis">
                <ion-icon name="map"></ion-icon>
                Location Map
              </p>
            </div>

            <div class="event-map" id="map" style="height: 425px;">

            </div>

          </div>
        </div>
  
      </div>
    </div>

  </div>
</div>