<div class="main-box">
  <div class="container">

    <div class="error-box alert alert-dark rounded">
      <div class="row row-cols-2">

        <div class="col">
          <div class="card text-bg-dark">
            <img [src]="eventDetails.logo" height="256px" width="250px" class="card-img-top"/>

            <div class="card-body">
              <h4 class="card-title lh-sm justify-content-center">
                {{ eventDetails.name }}
              </h4>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline">
                Description
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.description }}
              </p>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">
              <p class="fs-6 fw-bold text-decoration-underline">
                Event ID
              </p>
              <p class="card-text fs-6">
                <span title="Created on {{ eventDetails.created| date:'EEEE, dd MMMM yyyy \'at\' hh:mm a' }} SGT">
                  {{ eventID }} by
                </span>
                <span>
                  <a [href]="eventDetails.link">
                    Eventbrite
                  </a>
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline">
                Date and Time
              </p>
              <p class="card-text fs-6">
                <span class="fw-bold">
                  Start
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.start | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }} SGT
                </span>
                <span><br /></span>
                <span><br /></span>
                <span class="fw-bold">
                  End
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.end | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }} SGT
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline">
                Location
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueName }}
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueAddress }}
              </p>

            </div>

          </div>
        </div>
  
      </div>
      <div class="row row-cols-2 mt-2">

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">
              <p class="fs-6 fw-bold text-decoration-underline">
                Directions
              </p>
              <p class="card-text fs-6">
                <span title="Created on {{ eventDetails.created| date:'EEEE, dd MMMM yyyy \'at\' hh:mm a' }} SGT">
                  {{ eventID }} by
                </span>
                <span>
                  <a [href]="eventDetails.link">
                    Eventbrite
                  </a>
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline">
                Date and Time
              </p>
              <p class="card-text fs-6">
                <span class="fw-bold">
                  Start
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.start | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }} SGT
                </span>
                <span><br /></span>
                <span><br /></span>
                <span class="fw-bold">
                  End
                </span>
                <span><br /></span>
                <span>
                  {{ eventDetails.end | date:"EEEE, dd MMMM yyyy 'at' hh:mm a" }} SGT
                </span>
              </p>
              <p-divider type="solid"></p-divider>
              <br />

              <p class="fs-6 fw-bold text-decoration-underline">
                Location
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueName }}
              </p>
              <p class="card-text fs-6">
                {{ eventDetails.venueAddress }}
              </p>

            </div>

          </div>
        </div>

        <div class="col">
          <div class="card text-bg-dark">

            <div class="card-body">
              <p class="fs-6 fw-bold text-decoration-underline">
                Map
              </p>
            </div>

            <div class="event-map" id="map" style="height: 425px;">

            </div>

          </div>
        </div>
  
      </div>
    </div>

  </div>
</div>