<p-toast></p-toast>
<nav>

  <button class="icon-button" (click)="themeSvc.toggleDarkMode()" >
    @if (themeSvc.isDarkModeEnabled()) {
      <i class="pi pi-spin pi-moon" style="font-size: 2rem" title="Switch to Light Mode"></i>
    }
    @else {
      <i class="pi pi-spin pi-sun" style="font-size: 2rem" title="Switch to Dark Mode"></i>
    }
  </button>

  <a [routerLink]="['/']">
    <button type="button" class="btn btn-lg btn-success" >
      Home
    </button>
  </a>

  @if (loggedID) {
    <span class="fw-bold">Welcome {{ loggedName }}!</span>

    <a [routerLink]="['/profile', loggedID]">
      <button type="button" class="btn btn-lg btn-info ms-3">
        Profile
      </button>
    </a>

    <button type="button" class="btn btn-lg btn-danger ms-3" (click)="logoutUser()">
      Logout User
    </button>
  }
  @else {
    <a [routerLink]="['/register']">
      <button type="button" class="btn btn-lg btn-primary ms-3">
        Register User
      </button>
    </a>

    <a [routerLink]="['/login']">
      <button type="button" class="btn btn-lg btn-primary ms-3">
        Login User
      </button>
    </a>
  }
</nav>
<br/>

<router-outlet></router-outlet>