<p-toast></p-toast>
<nav class="navi">

  <a [routerLink]="['/']">
    <h2 class="logo">
      <img src="../assets/eventmanager.png" alt="Event Manager" width=150px height="100px">
    </h2>
  </a>

  <div class="fs-6"> {{ currentDateDayTime }}</div>

  <a [routerLink]="['/']">
    <button type="button" class="navi-button navi-button-lg navi-button-search">
      <i class="pi pi-search"></i>
      Find Events
    </button>
  </a>

  <a [routerLink]="['/register']">
    <button type="button" class="navi-button navi-button-register">
      <i class="pi pi-user-plus"></i>
      Sign Up
    </button>
  </a>

  <a [routerLink]="['/login']">
    <button type="button" class="navi-button navi-button-login">
      <i class="pi pi-sign-in"></i>
      Log In
    </button>
  </a>

</nav>
<br/>

<router-outlet></router-outlet>