<p-toast></p-toast>
<nav class="navi">

  <a [routerLink]="['/']">
    <h2 class="logo">
      <img src="../assets/eventmanager.png" alt="Event Manager" width=150px height="100px">
    </h2>
  </a>

  <div class="current-time text-primary-emphasis"> {{ currentDateDayTime }}</div>

  <a [routerLink]="['/']">
    <button type="button" class="navi-button navi-button-lg navi-button-homepage">
      <i class="pi pi-home"></i>
      Homepage
    </button>
  </a>

  <a [routerLink]="['/events']">
    <button type="button" class="navi-button navi-button-lg navi-button-search">
      <i class="pi pi-search"></i>
      Find Events
    </button>
  </a>

  @if (loggedID) {
    <a [routerLink]="['/account']">
      <button type="button" class="navi-button navi-button-profile">
        <i class="pi pi-user"></i>
        Account
      </button>
    </a>

    <button type="button" class="navi-button navi-button-logout" (click)="logoutUser()">
      <i class="pi pi-sign-out"></i>
      Log Out
    </button>
  }
  @else {
    <a [routerLink]="['/register']">
      <button type="button" class="navi-button navi-button-register">
        <i class="pi pi-user-plus"></i>
        Sign Up
      </button>
    </a>
  
    <a [routerLink]="['/login']">
      <button type="button" class="navi-button navi-button-login">
        <i class="pi pi-sign-in"></i>
        Log In
      </button>
    </a>
  }

</nav>

<router-outlet></router-outlet>