<div class="main-box">
  <div class="container">

    <div class="row row-cols-4 g-4" *ngIf="eventList$ | async as events">
      <div class="col" *ngFor="let event of events;">

        <div class="card text-bg-dark border-secondary mx-4">

          <img [src]="event.logo" height="256px" width="512px" class="card-img-top"/>

          <div class="card-header text-truncate text-warning-emphasis" title="{{ event.start | date:'EEEE, dd MMMM \'at\' hh:mm a' }}">
            {{ event.start | date:"EEEE, dd MMMM 'at' hh:mm a" }}
          </div>
          <div class="card-body">
            <h6 class="card-title">
              {{ event.name }}
            </h6>
            <p class="card-text text-secondary-emphasis">
              {{ event.venueName }} [{{ event.country }}]
            </p>
          </div>
          <p-divider type="dashed" class="mb-3"></p-divider>

          <div class="row mb-1 justify-content-center">
            
            <div class="col-4 text-center">
              <ion-icon name="eye"></ion-icon>
              <p>Details</p>
            </div>

            <div class="col-4 text-center">
              <ion-icon name="star"></ion-icon>
              <p>Bookmark</p>
            </div>

            <div class="col-4 text-center">
              <ion-icon name="ticket"></ion-icon>
              <p>Register</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>