<div class="main-box">
  <div class="container">

    <div class="error-box alert alert-primary text-decoration-none p-2 rounded">
      <h1 class="profile-heading text-center text-primary-emphasis">
        <span><ion-icon name="search"></ion-icon></span>
        Event Search
      </h1>
    </div>
    <br />

    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card text-bg-dark mb-3">
          <div class="card-body">
            
            <form [formGroup]="eventSearchForm" (ngSubmit)="submitEventSearchForm()">

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0 text-warning">
                    <span><ion-icon name="search-circle"></ion-icon></span>
                    Event Name
                  </h5>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="text-bg-dark"
                    id="eventName"
                    formControlName="eventName"
                  />
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0 text-warning">
                    <span><ion-icon name="location"></ion-icon></span>
                    Venue Name
                  </h5>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="text-bg-dark"
                    id="venueName"
                    formControlName="venueName"
                  />
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0 text-warning">
                    <span><ion-icon name="flag"></ion-icon></span>
                    Country
                  </h5>
                </div>
                <div class="col-sm-9">
                  <select name="country" class="text-bg-dark custom-select-box" formControlName="country">
                    <option *ngFor="let country of selectedCountries" [ngValue]="country">
                      {{ country }}
                    </option>
                  </select>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0 text-warning">
                    <span><ion-icon name="calendar"></ion-icon></span>
                    Start After
                  </h5>
                </div>
                <div class="col-sm-9">
                  <input
                    type="date"
                    class="text-bg-dark"
                    id="startAfter"
                    formControlName="startAfter"
                  />
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0 text-warning">
                    <span><ion-icon name="calendar"></ion-icon></span>
                    Start Before
                  </h5>
                </div>
                <div class="col-sm-9">
                  <input
                    type="date"
                    class="text-bg-dark"
                    id="startAfter"
                    formControlName="startBefore"
                  />
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary">
                    Search Events
                  </button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="error-box alert alert-primary text-decoration-none p-2 rounded">
      <h1 class="profile-heading text-center text-primary-emphasis">
        <span><ion-icon name="navigate"></ion-icon></span>
        Event Results
      </h1>
    </div>
    <br />

    <div class="row row-cols-4 g-4">
      <div class="col" *ngFor="let event of eventList">

        <div class="card text-bg-dark border-secondary mx-4">

          <img [src]="event.logo" height="256px" width="512px" class="card-img-top"/>

          <div class="card-header text-truncate text-warning-emphasis" title="{{ event.start | date:'EEEE, dd MMMM \'at\' hh:mm a' }}">
            {{ event.start | date:"EEEE, dd MMMM 'at' hh:mm a" }}
          </div>
          <div class="card-body">
            <h6 class="card-title">
              {{ event.name }}
            </h6>
            <p class="card-text text-secondary-emphasis">
              {{ eventListSvc.simplifyVenueName(event.venueName) }} <span><br/></span> [{{ event.country }}]
            </p>
          </div>
          <p-divider type="dashed" class="mb-3"></p-divider>

          <div class="row mb-1 justify-content-center">
            
            <div class="col-4 text-center">
              <ion-icon name="information-circle"></ion-icon>
              <p>Details</p>
            </div>

            <div class="col-4 text-center">
              <ion-icon name="star"></ion-icon>
              <p>Bookmark</p>
            </div>

            <div class="col-4 text-center">
              <ion-icon name="ticket"></ion-icon>
              <p>Register</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <br/>
    <div class="record-paginator d-flex justify-content-center">
      <p-paginator
        [rows]="20"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[20, 40, 60]"
        [showJumpToPageDropdown]="true"
        [showJumpToPageInput]="true"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
    
    <div class="record-panel d-flex justify-content-center">      
      <p-panel header="Total Results" class="text-center">
        {{ totalRecords }}
      </p-panel>
    </div>

  </div>
</div>