<form [formGroup]="userRegistrationForm" (ngSubmit)="submitRegistrationForm()">
  <table class="table table-striped table-bordered table-dark">
    <tr>
      <td>
        <span class="icon"><ion-icon name="happy"></ion-icon></span>
        <label for="name"> Name </label>
      </td>
      <td>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('required')"
        >
          Name is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('minlength')"
        >
          Name must have a minimum of 3 characters!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('maxlength')"
        >
          Name must have a maximum of 25 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <label for="email"> Email </label>
      </td>
      <td>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('required')"
        >
          Email is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('email')"
        >
          Invalid email format!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('maxlength')"
        >
          Email must have a maximum of 254 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="calendar"></ion-icon></span>
        <label for="birthDate"> Date of Birth </label>
      </td>
      <td>
        <input
          type="date"
          id="birthDate"
          formControlName="birthDate"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('birthDate')?.hasError('required')"
        >
          Date of Birth is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('birthDate')?.hasError('notPastDate')"
        >
          Date of Birth must be a past date prior to today!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
        <label for="username"> Username </label>
      </td>
      <td>
        <input
          type="string"
          id="username"
          formControlName="username"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('required')"
        >
          Username is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('minlength')"
        >
          Username must have a minimum of 7 characters!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('maxlength')"
        >
          Username must have a maximum of 20 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <label for="password"> Password </label>
      </td>
      <td>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('password')?.hasError('required')"
        >
          Password is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('password')?.hasError('pattern')"
        >
          Password does not meet the necessary requirements!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userRegistrationForm.invalid"
        >
          Sign Up
        </button>
      </td>
    </tr>
  </table>
</form>
