<p-toast></p-toast>

<div class="wrapper">
  <div class="wrapper-register">

    <div class="form-box">
      <h2>Create an Account</h2>

      <form [formGroup]="userRegistrationForm" (ngSubmit)="submitRegistrationForm()">
        <div class="input-box">
          <span class="icon"><ion-icon name="happy"></ion-icon></span>
          <input
            type="text"
            pInputText
            pAutoFocus
            [autofocus]="true"
            id="name"
            formControlName="name"
            class="form-control-sm"
          />
          <label class="register">Name</label>
        </div>
        <div class="validation-box">
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('name')?.hasError('required')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Name is a mandatory field!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('name')?.hasError('minlength')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Name must have a minimum of 3 characters!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('name')?.hasError('maxlength')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Name must have a maximum of 25 characters!
          </span>
        </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="mail"></ion-icon></span>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control-sm"
          />
          <label class="register">Email Address</label>
        </div>
        <div class="validation-box">
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('email')?.hasError('required')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Email is a mandatory field!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('email')?.hasError('email')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Invalid email format!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('email')?.hasError('maxlength')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Email must have a maximum of 254 characters!
          </span>
        </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="calendar"></ion-icon></span>
          <input
            type="date"
            id="birthDate"
            formControlName="birthDate"
            class="form-control-sm"
          />
          <label class="register">Date of Birth</label>
        </div>
        <div class="validation-box">
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('birthDate')?.hasError('required')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Date of Birth is a mandatory field!
          </span>
          <span
            class="text-danger"
            *ngIf="
              userRegistrationForm.get('birthDate')?.hasError('notPastDate')
            "
          >
          <i class="pi pi-exclamation-circle"></i>
            Date of Birth must be a past date prior to today!
          </span>
        </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control-sm"
          />
          <label class="register">Username</label>
        </div>
        <div class="validation-box">
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('username')?.hasError('required')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Username is a mandatory field!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('username')?.hasError('minlength')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Username must have a minimum of 7 characters!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('username')?.hasError('maxlength')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Username must have a maximum of 20 characters!
          </span>
        </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control-sm"
          />
          <label class="register">Password</label>
        </div>
        <div class="validation-box">
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('password')?.hasError('required')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Password is a mandatory field!
          </span>
          <span
            class="text-danger"
            *ngIf="userRegistrationForm.get('password')?.hasError('pattern')"
          >
          <i class="pi pi-exclamation-circle"></i>
            Password does not meet the necessary requirements!
          </span>
        </div>

        <button
          type="button"
          class="btn btn-primary btn-block"
          [disabled]="userRegistrationForm.invalid"
          (click)="submitRegistrationForm()"
        >
          Sign Up
        </button>
      </form>

      <div class="login-register">
        <span>
          <p>Already have an account?</p>
        </span>
        <p>
          <a [routerLink]="['/login']" class="text-decoration-none">
            Login Here!
          </a>
        </p>
      </div>
    </div>

    <div class="password-requirements">
      <h3>Password Requirements:</h3>
      <p>
        - At least 10 characters long.<br />
        - Contains at least one digit.<br />
        - Contains at least one lower case letter.<br />
        - Contains at least one upper case letter.<br />
        - Contains at least one special character.<br />
        - Does not contain any whitespaces, tabs, etc.
      </p>
    </div>
  </div>
</div>

<!-- <form [formGroup]="userRegistrationForm" (ngSubmit)="submitRegistrationForm()">
  <table class="table table-striped table-bordered">
    <tr>
      <td>
        <span class="icon"><ion-icon name="happy"></ion-icon></span>
        <label for="name"> Name </label>
      </td>
      <td>
        <input
          type="text"
          pInputText 
          pAutoFocus 
          [autofocus]="true"
          id="name"
          formControlName="name"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('required')"
        >
          Name is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('minlength')"
        >
          Name must have a minimum of 3 characters!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('name')?.hasError('maxlength')"
        >
          Name must have a maximum of 25 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <label for="email"> Email </label>
      </td>
      <td>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('required')"
        >
          Email is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('email')"
        >
          Invalid email format!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('email')?.hasError('maxlength')"
        >
          Email must have a maximum of 254 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="calendar"></ion-icon></span>
        <label for="birthDate"> Date of Birth </label>
      </td>
      <td>
        <input
          type="date"
          id="birthDate"
          formControlName="birthDate"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('birthDate')?.hasError('required')"
        >
          Date of Birth is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('birthDate')?.hasError('notPastDate')"
        >
          Date of Birth must be a past date prior to today!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
        <label for="username"> Username </label>
      </td>
      <td>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('required')"
        >
          Username is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('minlength')"
        >
          Username must have a minimum of 7 characters!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('username')?.hasError('maxlength')"
        >
          Username must have a maximum of 20 characters!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <label for="password"> Password </label>
      </td>
      <td>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control-sm"
        />
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('password')?.hasError('required')"
        >
          Password is a mandatory field!
        </small>
        <small
          class="text-danger"
          *ngIf="userRegistrationForm.get('password')?.hasError('pattern')"
        >
          Password does not meet the necessary requirements!
        </small>
      </td>
    </tr>

    <tr>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="userRegistrationForm.invalid"
          (click)="submitRegistrationForm()"
        >
          Sign Up
        </button>
      </td>
    </tr>
  </table>
</form>

<div>
    <span>Already have an account?</span>
    <p>
      <a [routerLink]="['/login']" class="text-decoration-none">
        Login Here!
      </a>
    </p>
</div> -->