<div class="main-box">
  <div class="container">

    <div class="error-box alert alert-secondary text-decoration-none p-3 rounded mb-5">
      <h1 class="profile-heading text-center text-warning">
        Account Overview
        <br /> 
        <span class="fs-2 font-monospace text-decoration-underline">
          User: {{loggedName}}
        </span>
      </h1>
    </div>

    <div class="row">

      <div class="col-md-4 mb-4">
        <a [routerLink]="['/profile', loggedID]" class="text-decoration-none">
          <div class="alert alert-primary text-center p-4">
            <h2>
              <i class="pi pi-user fs-2"></i>
              Profile
            </h2>
            <p class="fs-5">
              Review your user information
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <div class="alert alert-warning text-center p-4">
          <h2>
            <i class="pi pi-star-fill fs-2"></i>
            Bookmarks
          </h2>
          <p class="fs-5">
            View your bookmarked events
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="alert alert-primary text-center p-4">
          <h2>
            <i class="pi pi-user fs-2"></i>
            Profile
          </h2>
          <p class="fs-5">
            View details of the user
          </p>
        </div>
    </div>

  </div>
</div>