<form [formGroup]="userConfirmationForm" (ngSubmit)="submitConfirmationForm()">
  <h2>
    <label for="confirmationCode"> Check your email for a Confirmation Code! </label>
  </h2>

  <input
    type="hidden"
    id="confirmationCode"
    formControlName="confirmationCode"
    maxlength="6"
  />

  <ng-otp-input
    (onInputChange)="onCodeChange($event)"
    [config]="{ length: 6, letterCase: 'Upper' }"
  >
  </ng-otp-input>

  <br />
  <button type="submit" class="btn btn-sm btn-info" [disabled]="cannotSubmit">
    Confirm
  </button>
</form>
